<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Custom Goo</string>
	<key>CFBundleExecutable</key>
	<string>wog</string>
	<key>CFBundleIconFile</key>
	<string>iTunesArtwork.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>iTunesArtwork.png</string>
		<string>WogIcon_72x72.png</string>
		<string>WogIcon_50x50.png</string>
		<string>WogIcon_29x29.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.2dboy.worldofgoo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>wog</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>4.2</string>
	<key>DTPlatformBuild</key>
	<string>8C134</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>4.2 Seed 2</string>
	<key>DTSDKName</key>
	<string>iphoneos4.2</string>
	<key>DTXcode</key>
	<string>0325</string>
	<key>DTXcodeBuild</key>
	<string>10M2423</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>3.2</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
</dict>
</plist>
